* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: darkslategray;
  color: #545454;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
}

.container {
  background: #14bdac;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
  max-width: 1200px;
}
.title {
  text-align: center;
}
.title span {
  color: #f2ebd3;
}

.status-action {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  font-size: 25px;
}

.reset {
  cursor: pointer;
}
.reset:hover {
  color: #f2ebd3;
}

.game-grid {
  background: #0da192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  margin-top: 50px;
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  cursor: pointer;
  background: #14bdac;
}

.x::after {
  content: "x";
  font-size: 200px;
}
.o::after {
  content: "o";
  font-size: 200px;
}
.winner {
  font-size: 50px;
  color: #f2ebd3;
  /* justify-content: center; */
  /* align-items: center; */
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 900px;
  }
  .game-grid {
    margin-top: 25px;
    gap: 10px;
  }

  .game-cell {
    height: 150px;
    width: 150px;
  }

  .x::after {
    font-size: 150px;
  }
  .o::after {
    font-size: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .container {
    width: 400px;
  }
  .game-grid {
    margin-top: 25px;
    gap: 25px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }
  .o::after {
    font-size: 100px;
  }
}
